# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Selenium Doc](https://www.selenium.dev/documentation/)
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `Selenium` and `pandas` are imported for you.

In [1]:
#%pip install webdriver-manager
import pandas as pd
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
import warnings
warnings.filterwarnings('ignore')
from selenium import webdriver
from selenium.webdriver.common.by import By

#### Enable the options you may need. In the next cell you have an example of them but you can choose to use them or not.

In [2]:
#driver configuration
opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
#opciones.add_argument('--start-maximized')         # comienza maximizado
#opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
#opciones.add_argument('--incognito')

In [3]:
PATH = ChromeDriverManager().install()     # instala el driver de chrome

driver=webdriver.Chrome(PATH, options=opciones)      # abre una venta una de chrome

#### Download, parse, and print the content from the Trending Developers page from GitHub:

In [4]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [5]:
driver.get('https://github.com/trending/developers')#your code

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [6]:
import requests as req

from bs4 import BeautifulSoup as bs

In [7]:
names = driver.find_element(By.XPATH, '//*[@id="pa-a8m"]/div[2]/div[1]/div[1]/h1/a').text



usuarios = driver.find_element(By.XPATH, '//*[@id="pa-a8m"]/div[2]/div[1]/div[1]/p/a').text

In [8]:
names = driver.find_elements(By.CLASS_NAME, 'h3.lh-condensed')



listanames=[e.text for e in names]

listanames

['Ariel Mashraki',
 'Henrik Rydgård',
 'jxxghp',
 'Shrikant Sharat Kandula',
 'Azure SDK Bot',
 'Casey Rodarmor',
 'Florian Roth',
 'Brad Fitzpatrick',
 'Emil Ernerfeldt',
 'atomiks',
 'Jeffrey Su',
 'Yair Morgenstern',
 'Manuel Kaufmann',
 'Paul Razvan Berg',
 'Matt Karl',
 'nodiscc',
 'Matthew Leibowitz',
 'Maarten Grootendorst',
 'Ben McCann',
 'Costa Huang',
 'François Chollet',
 'Ross Wightman',
 'Robert Martin',
 'Huon Wilson',
 'Zhian N. Kamvar']

In [9]:
usuarios = driver.find_elements(By.CLASS_NAME, 'f4.text-normal.mb-1')

listausuarios = [e.text for e in usuarios]

listausuarios

['a8m',
 'hrydgard',
 'jxxghp',
 'sharat87',
 'azure-sdk',
 'casey',
 'Neo23x0',
 'bradfitz',
 'emilk',
 'JeffreySu',
 'yairm210',
 'humitos',
 'PaulRBerg',
 'bigtimebuddy',
 'nodiscc',
 'mattleibow',
 'MaartenGr',
 'benmccann',
 'vwxyzjn',
 'fchollet',
 'rwightman',
 'robertmartin8',
 'huonw',
 'zkamvar']

In [10]:
listafinaltrendings = []

for e, i in zip(listanames, listausuarios):
    listafinaltrendings.append(e + ' (' + i + ')')

listafinaltrendings

['Ariel Mashraki (a8m)',
 'Henrik Rydgård (hrydgard)',
 'jxxghp (jxxghp)',
 'Shrikant Sharat Kandula (sharat87)',
 'Azure SDK Bot (azure-sdk)',
 'Casey Rodarmor (casey)',
 'Florian Roth (Neo23x0)',
 'Brad Fitzpatrick (bradfitz)',
 'Emil Ernerfeldt (emilk)',
 'atomiks (JeffreySu)',
 'Jeffrey Su (yairm210)',
 'Yair Morgenstern (humitos)',
 'Manuel Kaufmann (PaulRBerg)',
 'Paul Razvan Berg (bigtimebuddy)',
 'Matt Karl (nodiscc)',
 'nodiscc (mattleibow)',
 'Matthew Leibowitz (MaartenGr)',
 'Maarten Grootendorst (benmccann)',
 'Ben McCann (vwxyzjn)',
 'Costa Huang (fchollet)',
 'François Chollet (rwightman)',
 'Ross Wightman (robertmartin8)',
 'Robert Martin (huonw)',
 'Huon Wilson (zkamvar)']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [11]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [12]:
driver=webdriver.Chrome(PATH, options=opciones)  
driver.get('https://github.com/trending/python?since=daily')

In [13]:
repositorios = driver.find_elements(By.CLASS_NAME, 'h3.lh-condensed')

listarepositorios = [e.text for e in repositorios]

listarepositorios

['acikkaynak / deprem-yardim-backend',
 'TheAlgorithms / Python',
 'Zero6992 / chatGPT-discord-bot',
 'zhayujie / chatgpt-on-wechat',
 'TEXTurePaper / TEXTurePaper',
 'acheong08 / ChatGPT',
 'LAION-AI / Open-Assistant',
 'AIGCT / EASYChatGPT',
 'BlinkDL / ChatRWKV',
 'ddPn08 / Lsmith',
 'd2l-ai / d2l-zh',
 'chidiwilliams / buzz',
 'arc53 / DocsGPT',
 'prowler-cloud / prowler',
 'openai / openai-python',
 'hwchase17 / langchain',
 'karfly / chatgpt_telegram_bot',
 'biancangming / wtv',
 'LlmKira / Openaibot',
 'BlinkDL / RWKV-LM',
 'wagtail / wagtail',
 'PaddlePaddle / ERNIE',
 'MrMimic / data-scientist-roadmap',
 'PaddlePaddle / PaddleSpeech',
 'bellingcat / octosuite']

#### Display all the image links from Walt Disney wikipedia page

In [14]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [15]:
driver=webdriver.Chrome(PATH, options=opciones)  
driver.get('https://en.wikipedia.org/wiki/Walt_Disney')

In [16]:
fotos = driver.find_elements(By.CLASS_NAME, 'image')[3].get_attribute('href')

fotos

'https://en.wikipedia.org/wiki/File:Walt_Disney_envelope_ca._1921.jpg'

In [17]:
listafotos = [e.get_attribute('href') for e in driver.find_elements(By.CLASS_NAME, 'image')]

listafotos

['https://en.wikipedia.org/wiki/File:Walt_Disney_1946.JPG',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_1942_signature.svg',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_envelope_ca._1921.jpg',
 'https://en.wikipedia.org/wiki/File:Trolley_Troubles_poster.jpg',
 'https://en.wikipedia.org/wiki/File:Steamboat-willie.jpg',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_1935.jpg',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_Snow_white_1937_trailer_screenshot_(13).jpg',
 'https://en.wikipedia.org/wiki/File:Disney_drawing_goofy.jpg',
 'https://en.wikipedia.org/wiki/File:WaltDisneyplansDisneylandDec1954.jpg',
 'https://en.wikipedia.org/wiki/File:Walt_disney_portrait_right.jpg',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_Grave.JPG',
 'https://en.wikipedia.org/wiki/File:Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 'https://en.wikipedia.org/wiki/File:DisneySchiphol1951.jpg',
 'https://en.wikipedia.org/wiki/File:Disney1968.jpg',
 'https://en.wikipedia.org/wiki/File:Disney_Oscar_1953_(cropped).jpg',
 'https://en.wikipedia.org/wiki/File:Disneyland_Resort_logo.svg',
 'https://en.wikipedia.org/wiki/File:Animation_disc.svg',
 'https://en.wikipedia.org/wiki/File:Magic_Kingdom_castle.jpg',
 'https://en.wikipedia.org/wiki/File:Blank_television_set.svg']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [18]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [19]:
#your code
driver.get(url)

In [20]:
links = driver.find_elements(By.TAG_NAME, 'a')[3].get_attribute('href')

links

'https://en.wikipedia.org/w/index.php?title=Special:CreateAccount&returnto=Python'

In [21]:
listalinks = [e.get_attribute('href') for e in driver.find_elements(By.TAG_NAME, 'a')]

listalinks[10]

'https://en.wikipedia.org/wiki/Wikipedia:Contents'

#### Number of Titles that have changed in the United States Code since its last release point

In [72]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [73]:
driver.get(url)

In [74]:
cambios = driver.find_elements(By.CLASS_NAME, 'usctitlechanged')

listacambios = [e.text for e in cambios]

listacambios

['Title 2 - The Congress',
 'Title 6 - Domestic Security',
 'Title 15 - Commerce and Trade',
 'Title 16 - Conservation',
 'Title 18 - Crimes and Criminal Procedure ٭',
 'Title 22 - Foreign Relations and Intercourse',
 'Title 23 - Highways ٭',
 'Title 25 - Indians',
 'Title 29 - Labor',
 'Title 31 - Money and Finance ٭',
 'Title 34 - Crime Control and Law Enforcement',
 "Title 38 - Veterans' Benefits ٭",
 'Title 41 - Public Contracts ٭',
 'Title 42 - The Public Health and Welfare']

#### A Python list with the top ten FBI's Most Wanted names

In [25]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [26]:
driver.get(url)

In [27]:
buscados = driver.find_elements(By.CLASS_NAME, 'title')

listabuscados = [e.text for e in buscados]

listabuscados[1:]

['YULAN ADONAY ARCHAGA CARIAS',
 'RUJA IGNATOVA',
 'ARNOLDO JIMENEZ',
 'OMAR ALEXANDER CARDENAS',
 'ALEXIS FLORES',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'MICHAEL JAMES PRATT',
 'RAFAEL CARO-QUINTERO']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [28]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [29]:
driver.get(url)

In [30]:
cabeceras = driver.find_elements(By.CLASS_NAME, 'th2')

litacabeceras = [e.text.strip() for e in cabeceras]

litacabeceras

['Citizen\nResponse',
 'Date & Time\nUTC',
 'Latitude\ndegrees',
 'Longitude\ndegrees',
 'Depth\nkm',
 'Mag\n[+]',
 'Region name\n[+]',
 '']

In [31]:
date = driver.find_elements(By.CLASS_NAME, 'tabev6')

litsadate = [e.text.strip() for e in date]



litsadate

['2023-02-08   18:40:24.2\n14min ago',
 '2023-02-08   18:36:45.0\n17min ago',
 '2023-02-08   18:32:44.7\n21min ago',
 '2023-02-08   18:28:47.1\n25min ago',
 '2023-02-08   18:26:12.5\n28min ago',
 '2023-02-08   18:22:00.0\n32min ago',
 '2023-02-08   18:18:57.9\n35min ago',
 '2023-02-08   18:16:30.0\n38min ago',
 '2023-02-08   18:12:48.9\n41min ago',
 '2023-02-08   18:08:40.0\n45min ago',
 '2023-02-08   18:07:54.3\n46min ago',
 '2023-02-08   18:06:51.3\n47min ago',
 '2023-02-08   18:03:42.8\n50min ago',
 '2023-02-08   18:01:07.0\n53min ago',
 '2023-02-08   18:00:23.0\n54min ago',
 '2023-02-08   17:57:23.9\n57min ago',
 '2023-02-08   17:53:28.6\n1hr 01min ago',
 '2023-02-08   17:52:07.0\n1hr 02min ago',
 '2023-02-08   17:50:15.3\n1hr 04min ago',
 '2023-02-08   17:48:09.8\n1hr 06min ago',
 '2023-02-08   17:44:47.3\n1hr 09min ago',
 '2023-02-08   17:43:00.9\n1hr 11min ago',
 '2023-02-08   17:40:20.8\n1hr 14min ago',
 '2023-02-08   17:39:05.0\n1hr 15min ago',
 '2023-02-08   17:37:47.4\n1hr 16min ago',
 '2023-02-08   17:35:34.2\n1hr 19min ago',
 '2023-02-08   17:31:51.7\n1hr 22min ago',
 '2023-02-08   17:23:46.0\n1hr 30min ago',
 '2023-02-08   17:20:57.5\n1hr 33min ago',
 '2023-02-08   17:19:43.4\n1hr 34min ago',
 '2023-02-08   17:15:20.0\n1hr 39min ago',
 '2023-02-08   17:12:52.5\n1hr 41min ago',
 '2023-02-08   17:07:43.6\n1hr 46min ago',
 '2023-02-08   17:06:39.4\n1hr 47min ago',
 '2023-02-08   17:03:58.4\n1hr 50min ago',
 '2023-02-08   17:02:32.3\n1hr 52min ago',
 '2023-02-08   17:01:12.6\n1hr 53min ago',
 '2023-02-08   16:59:20.0\n1hr 55min ago',
 '2023-02-08   16:55:39.5\n1hr 58min ago',
 '2023-02-08   16:44:28.2\n2hr 10min ago',
 '2023-02-08   16:40:33.2\n2hr 14min ago',
 '2023-02-08   16:29:07.4\n2hr 25min ago',
 '2023-02-08   16:21:19.8\n2hr 33min ago',
 '2023-02-08   16:18:17.6\n2hr 36min ago',
 '2023-02-08   16:15:05.3\n2hr 39min ago',
 '2023-02-08   16:12:04.2\n2hr 42min ago',
 '2023-02-08   16:01:57.0\n2hr 52min ago',
 '2023-02-08   16:01:04.0\n2hr 53min ago',
 '2023-02-08   15:57:02.0\n2hr 57min ago',
 '2023-02-08   15:56:50.9\n2hr 57min ago']

In [32]:
latitude = driver.find_elements(By.CLASS_NAME, 'tabev1')

latlist= [e.text.strip() for e in latitude]

latlist = latlist[0::2]


latlist

['38.07',
 '24.03',
 '39.58',
 '38.09',
 '37.32',
 '33.08',
 '37.87',
 '42.10',
 '38.15',
 '27.80',
 '44.01',
 '38.11',
 '19.16',
 '28.14',
 '38.03',
 '39.81',
 '37.93',
 '8.37',
 '38.10',
 '2.70',
 '37.80',
 '38.46',
 '38.08',
 '3.16',
 '39.22',
 '38.12',
 '37.98',
 '36.05',
 '38.03',
 '38.08',
 '37.86',
 '38.09',
 '22.01',
 '38.87',
 '37.87',
 '35.47',
 '38.09',
 '37.10',
 '38.10',
 '37.97',
 '37.84',
 '37.74',
 '19.15',
 '38.00',
 '37.55',
 '38.10',
 '4.92',
 '38.15',
 '5.69',
 '37.32']

In [33]:
longitude = driver.find_elements(By.CLASS_NAME, 'tabev1')

lonlist= [e.text.strip() for e in longitude]

lonlist = lonlist[1::2]

lonlist

['37.29',
 '68.88',
 '118.47',
 '37.68',
 '37.07',
 '72.03',
 '36.63',
 '142.80',
 '36.94',
 '70.20',
 '13.32',
 '37.82',
 '155.48',
 '69.06',
 '36.55',
 '40.88',
 '38.10',
 '77.02',
 '36.67',
 '140.60',
 '36.70',
 '39.53',
 '36.56',
 '126.10',
 '38.79',
 '37.10',
 '38.12',
 '36.08',
 '37.54',
 '37.72',
 '37.65',
 '37.40',
 '179.35',
 '37.38',
 '36.72',
 '3.66',
 '37.17',
 '36.74',
 '37.20',
 '38.25',
 '36.60',
 '37.40',
 '155.48',
 '37.51',
 '37.34',
 '36.69',
 '122.66',
 '38.61',
 '154.36',
 '37.07']

In [34]:
region = driver.find_elements(By.CLASS_NAME, 'tb_region')

listaregion= [e.text.strip() for e in region]


listaregion

['CENTRAL TURKEY',
 'ANTOFAGASTA, CHILE',
 'NEVADA',
 'CENTRAL TURKEY',
 'CENTRAL TURKEY',
 'OFFSHORE VALPARAISO, CHILE',
 'CENTRAL TURKEY',
 'HOKKAIDO, JAPAN REGION',
 'CENTRAL TURKEY',
 'ATACAMA, CHILE',
 'ADRIATIC SEA',
 'CENTRAL TURKEY',
 'ISLAND OF HAWAII, HAWAII',
 'LA RIOJA, ARGENTINA',
 'CENTRAL TURKEY',
 'EASTERN TURKEY',
 'EASTERN TURKEY',
 'PANAMA-COLOMBIA BORDER REGION',
 'CENTRAL TURKEY',
 'NEAR N COAST OF PAPUA, INDONESIA',
 'CENTRAL TURKEY',
 'EASTERN TURKEY',
 'CENTRAL TURKEY',
 'KEPULAUAN TALAUD, INDONESIA',
 'EASTERN TURKEY',
 'CENTRAL TURKEY',
 'EASTERN TURKEY',
 'TURKEY-SYRIA BORDER REGION',
 'CENTRAL TURKEY',
 'CENTRAL TURKEY',
 'CENTRAL TURKEY',
 'CENTRAL TURKEY',
 'SOUTH OF FIJI ISLANDS',
 'CENTRAL TURKEY',
 'CENTRAL TURKEY',
 'STRAIT OF GIBRALTAR',
 'CENTRAL TURKEY',
 'CENTRAL TURKEY',
 'CENTRAL TURKEY',
 'EASTERN TURKEY',
 'CENTRAL TURKEY',
 'CENTRAL TURKEY',
 'ISLAND OF HAWAII, HAWAII',
 'CENTRAL TURKEY',
 'CENTRAL TURKEY',
 'CENTRAL TURKEY',
 'SULAWESI, INDONESIA',
 'EASTERN TURKEY',
 'BOUGAINVILLE REGION, P.N.G.',
 'CENTRAL TURKEY']

In [35]:
import pandas as pd

df = pd.DataFrame(columns=litacabeceras)

df

Empty DataFrame
Columns: [Citizen
Response, Date & Time
UTC, Latitude
degrees, Longitude
degrees, Depth
km, Mag
[+], Region name
[+], ]
Index: []

In [36]:
df[litacabeceras[1]] = litsadate

df[litacabeceras[2]] = latlist

df[litacabeceras[3]] = lonlist 

df[litacabeceras[6]] = listaregion

df.head()

,Citizen\nResponse,Date & Time\nUTC,Latitude\ndegrees,Longitude\ndegrees,Depth\nkm,Mag\n[+],Region name\n[+],
0,NaN,2023-02-08 18:40:24.2\n14min ago,38.07,37.29,NaN,NaN,CENTRAL TURKEY,NaN
1,NaN,2023-02-08 18:36:45.0\n17min ago,24.03,68.88,NaN,NaN,"ANTOFAGASTA, CHILE",NaN
2,NaN,2023-02-08 18:32:44.7\n21min ago,39.58,118.47,NaN,NaN,NEVADA,NaN
3,NaN,2023-02-08 18:28:47.1\n25min ago,38.09,37.68,NaN,NaN,CENTRAL TURKEY,NaN
4,NaN,2023-02-08 18:26:12.5\n28min ago,37.32,37.07,NaN,NaN,CENTRAL TURKEY,NaN

In [37]:
df = df.drop(columns=['Citizen\nResponse', 'Depth\nkm', 'Mag\n[+]'], axis=1)

df.head(20)

,Date & Time\nUTC,Latitude\ndegrees,Longitude\ndegrees,Region name\n[+],
0,2023-02-08 18:40:24.2\n14min ago,38.07,37.29,CENTRAL TURKEY,NaN
1,2023-02-08 18:36:45.0\n17min ago,24.03,68.88,"ANTOFAGASTA, CHILE",NaN
2,2023-02-08 18:32:44.7\n21min ago,39.58,118.47,NEVADA,NaN
3,2023-02-08 18:28:47.1\n25min ago,38.09,37.68,CENTRAL TURKEY,NaN
4,2023-02-08 18:26:12.5\n28min ago,37.32,37.07,CENTRAL TURKEY,NaN
5,2023-02-08 18:22:00.0\n32min ago,33.08,72.03,"OFFSHORE VALPARAISO, CHILE",NaN
6,2023-02-08 18:18:57.9\n35min ago,37.87,36.63,CENTRAL TURKEY,NaN
7,2023-02-08 18:16:30.0\n38min ago,42.10,142.80,"HOKKAIDO, JAPAN REGION",NaN
8,2023-02-08 18:12:48.9\n41min ago,38.15,36.94,CENTRAL TURKEY,NaN
9,2023-02-08 18:08:40.0\n45min ago,27.80,70.20,"ATACAMA, CHILE",NaN
10,2023-02-08 18:07:54.3\n46min ago,44.01,13.32,ADRIATIC SEA,NaN
11,2023-02-08 18:06:51.3\n47min ago,38.11,37.82,CENTRAL TURKEY,NaN
12,2023-02-08 18:03:42.8\n50min ago,19.16,155.48,"ISLAND OF HAWAII, HAWAII",NaN
13,2023-02-08 18:01:07.0\n53min ago,28.14,69.06,"LA RIOJA, ARGENTINA",NaN
14,2023-02-08 18:00:23.0\n54min ago,38.03,36.55,CENTRAL TURKEY,NaN
15,2023-02-08 17:57:23.9\n57min ago,39.81,40.88,EASTERN TURKEY,NaN
16,2023-02-08 17:53:28.6\n1hr 01min ago,37.93,38.10,EASTERN TURKEY,NaN
17,2023-02-08 17:52:07.0\n1hr 02min ago,8.37,77.02,PANAMA-COLOMBIA BORDER REGION,NaN
18,2023-02-08 17:50:15.3\n1hr 04min ago,38.10,36.67,CENTRAL TURKEY,NaN
19,2023-02-08 17:48:09.8\n1hr 06min ago,2.70,140.60,"NEAR N COAST OF PAPUA, INDONESIA",NaN

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [38]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/PaquitaSalas'

In [39]:
driver.get(url)

In [40]:
tweets_paquitasalas = driver.find_elements(By.CLASS_NAME, 'css-901oao.css-1hf3ou5.r-14j79pv.r-37j5jr.r-n6v787.r-16dba41.r-1cwl3u0.r-bcqeeo.r-qvutc0')

tweets= [e.text for e in tweets_paquitasalas]

tweets

['2.168 Tweets']

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [41]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [42]:
driver.get(url)

In [43]:

def followers_count(a):

    url = f'https://twitter.com/{a}'
    driver.get(url)

    try:
        
        followers_element = driver.find_element(By.XPATH,"//a[contains(@data-nav,'followers')]")

        followers_text = followers_element.get_attribute("title")

        driver.quit()

        return followers_text
    except:
        
        return None

In [44]:
followers_count('U2') #no consigo que me funcione

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [45]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [46]:
driver=webdriver.Chrome(PATH, options=opciones)
driver.get(url)

In [47]:
num = driver.find_elements(By.CLASS_NAME, 'central-featured-lang')

listanum= [e.text.replace('\n','').replace('+','') for e in num]

listanum=listanum[0:11]

listanum

['Español1 833 000 artículos',
 'English6 606 000 articles',
 'Русский1 887 000 статей',
 '日本語1 359 000 記事',
 'Deutsch2 764 000 Artikel',
 'Français2 488 000 articles',
 'Italiano1 792 000 voci',
 '中文1 331 000 条目 / 條目',
 'فارسی947 000 مقاله',
 'Polski1 552 000 haseł']

#### A list with the different kind of datasets available in data.gov.uk

In [48]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [49]:
driver.get(url)

In [50]:
datasets = driver.find_elements(By.CLASS_NAME, 'govuk-link')

listdatasets= [e.text.strip() for e in datasets]

listdatasets = listdatasets[4::]

listdatasets

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [67]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [68]:
driver.get(url)

In [69]:
columnas=driver.find_elements(By.CLASS_NAME, 'headerSort') 

listcols= [e.text.strip() for e in columnas]

listcols=listcols[:4] 

listcols

['Language', 'Native speakers\n(millions)', 'Language family', 'Branch']

In [70]:
data = [[e.text for e in f.find_elements(By.TAG_NAME, 'td')]  
        for f in driver.find_element(By.TAG_NAME, 'tbody').find_elements(By.TAG_NAME, 'tr')]

data

[['Mandarin Chinese\n(incl. Standard Chinese, but excl. other varieties)',
  '920',
  'Sino-Tibetan',
  'Sinitic'],
 ['Spanish', '475', 'Indo-European', 'Romance'],
 ['English', '373', 'Indo-European', 'Germanic'],
 ['Hindi\n(excl. Urdu)', '344', 'Indo-European', 'Indo-Aryan'],
 ['Bengali', '234', 'Indo-European', 'Indo-Aryan'],
 ['Portuguese', '232', 'Indo-European', 'Romance'],
 ['Russian', '154', 'Indo-European', 'Balto-Slavic'],
 ['Japanese', '125', 'Japonic', 'Japanese'],
 ['Yue Chinese\n(incl. Cantonese)', '85.2', 'Sino-Tibetan', 'Sinitic'],
 ['Vietnamese', '84.6', 'Austroasiatic', 'Vietic'],
 ['Marathi', '83.1', 'Indo-European', 'Indo-Aryan'],
 ['Telugu', '82.7', 'Dravidian', 'South-Central'],
 ['Turkish', '82.2', 'Turkic', 'Oghuz'],
 ['Wu Chinese\n(incl. Shanghainese)', '81.8', 'Sino-Tibetan', 'Sinitic'],
 ['Korean', '81.7', 'Koreanic', 'language isolate'],
 ['French', '79.9', 'Indo-European', 'Romance'],
 ['Tamil', '78.4', 'Dravidian', 'South'],
 ['Standard German', '75.6', 'Indo-European', 'Germanic'],
 ['Egyptian Spoken Arabic\n(excl. Saʽidi Arabic)',
  '74.8',
  'Afroasiatic',
  'Semitic'],
 ['Urdu\n(excl. Hindi)', '70.2', 'Indo-European', 'Indo-Aryan'],
 ['Javanese', '68.3', 'Austronesian', 'Malayo-Polynesian'],
 ['Western Punjabi\n(excl. Eastern Punjabi)',
  '66.4',
  'Indo-European',
  'Indo-Aryan'],
 ['Italian', '64.8', 'Indo-European', 'Romance'],
 ['Gujarati', '57.0', 'Indo-European', 'Indo-Aryan'],
 ['Iranian Persian\n(excl. Dari and Tajik)',
  '56.4',
  'Indo-European',
  'Iranian'],
 ['Bhojpuri', '52.3', 'Indo-European', 'Indo-Aryan'],
 ['Hausa', '50.8', 'Afroasiatic', 'Chadic']]

In [71]:
df = pd.DataFrame(data, columns = listcols)

df

,Language,Native speakers\n(millions),Language family,Branch
0,"Mandarin Chinese\n(incl. Standard Chinese, but...",920,Sino-Tibetan,Sinitic
1,Spanish,475,Indo-European,Romance
2,English,373,Indo-European,Germanic
3,Hindi\n(excl. Urdu),344,Indo-European,Indo-Aryan
4,Bengali,234,Indo-European,Indo-Aryan
5,Portuguese,232,Indo-European,Romance
6,Russian,154,Indo-European,Balto-Slavic
7,Japanese,125,Japonic,Japanese
8,Yue Chinese\n(incl. Cantonese),85.2,Sino-Tibetan,Sinitic
9,Vietnamese,84.6,Austroasiatic,Vietic
10,Marathi,83.1,Indo-European,Indo-Aryan
11,Telugu,82.7,Dravidian,South-Central
12,Turkish,82.2,Turkic,Oghuz
13,Wu Chinese\n(incl. Shanghainese),81.8,Sino-Tibetan,Sinitic
14,Korean,81.7,Koreanic,language isolate
15,French,79.9,Indo-European,Romance
16,Tamil,78.4,Dravidian,South
17,Standard German,75.6,Indo-European,Germanic
18,Egyptian Spoken Arabic\n(excl. Saʽidi Arabic),74.8,Afroasiatic,Semitic
19,Urdu\n(excl. Hindi),70.2,Indo-European,Indo-Aryan
20,Javanese,68.3,Austronesian,Malayo-Polynesian
21,Western Punjabi\n(excl. Eastern Punjabi),66.4,Indo-European,Indo-Aryan
22,Italian,64.8,Indo-European,Romance
23,Gujarati,57.0,Indo-European,Indo-Aryan
24,Iranian Persian\n(excl. Dari and Tajik),56.4,Indo-European,Iranian
25,Bhojpuri,52.3,Indo-European,Indo-Aryan
26,Hausa,50.8,Afroasiatic,Chadic

In [ ]:
df = df.drop(columns=['Language family', 'Branch'], axis=1)

df

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [ ]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [ ]:
# your code

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [ ]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [ ]:
#your code

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
#your code