# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Selenium Doc](https://www.selenium.dev/documentation/)
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `Selenium` and `pandas` are imported for you.

In [1]:
#%pip install webdriver-manager
import pandas as pd
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
import warnings
warnings.filterwarnings('ignore')
from selenium import webdriver
from selenium.webdriver.common.by import By

#### Enable the options you may need. In the next cell you have an example of them but you can choose to use them or not.

In [2]:
#driver configuration
opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
#opciones.add_argument('--start-maximized')         # comienza maximizado
#opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
#opciones.add_argument('--incognito')

In [3]:
PATH = ChromeDriverManager().install()     # instala el driver de chrome

driver=webdriver.Chrome(PATH, options=opciones)      # abre una venta una de chrome

#### Download, parse, and print the content from the Trending Developers page from GitHub:

In [4]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [5]:
driver.get('https://github.com/trending/developers')#your code

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [6]:
import requests as req

from bs4 import BeautifulSoup as bs

In [7]:
names = driver.find_element(By.XPATH, '//*[@id="pa-a8m"]/div[2]/div[1]/div[1]/h1/a').text



usuarios = driver.find_element(By.XPATH, '//*[@id="pa-a8m"]/div[2]/div[1]/div[1]/p/a').text

In [8]:
names = driver.find_elements(By.CLASS_NAME, 'h3.lh-condensed')



listanames=[e.text for e in names]

listanames

['Ariel Mashraki',
 'Mattias Wadman',
 'Henrik Rydgård',
 'Mark Tyneway',
 'Lincoln Stein',
 'jxxghp',
 'Paul Razvan Berg',
 'Florian Roth',
 'MichaIng',
 'Vectorized',
 'Lianmin Zheng',
 'X.',
 'Norbert de Langen',
 'Stefan Prodan',
 'Jaco',
 'François Chollet',
 'Michał Lytek',
 'Lukas Taegert-Atkinson',
 'Ben McCann',
 'Antonio Cheong',
 'Maarten Grootendorst',
 'Leon',
 'syuilo',
 'Abhinav Gupta',
 'Yair Morgenstern']

In [9]:
usuarios = driver.find_elements(By.CLASS_NAME, 'f4.text-normal.mb-1')

listausuarios = [e.text for e in usuarios]

listausuarios

['a8m',
 'wader',
 'hrydgard',
 'tynes',
 'lstein',
 'jxxghp',
 'PaulRBerg',
 'Neo23x0',
 'Vectorized',
 'merrymercy',
 'ije',
 'ndelangen',
 'stefanprodan',
 'jacogr',
 'fchollet',
 'MichalLytek',
 'lukastaegert',
 'benmccann',
 'acheong08',
 'MaartenGr',
 'ultrafunkamsterdam',
 'syuilo',
 'abhinav',
 'yairm210']

In [10]:
listafinaltrendings = []

for e, i in zip(listanames, listausuarios):
    listafinaltrendings.append(e + ' (' + i + ')')

listafinaltrendings

['Ariel Mashraki (a8m)',
 'Mattias Wadman (wader)',
 'Henrik Rydgård (hrydgard)',
 'Mark Tyneway (tynes)',
 'Lincoln Stein (lstein)',
 'jxxghp (jxxghp)',
 'Paul Razvan Berg (PaulRBerg)',
 'Florian Roth (Neo23x0)',
 'MichaIng (Vectorized)',
 'Vectorized (merrymercy)',
 'Lianmin Zheng (ije)',
 'X. (ndelangen)',
 'Norbert de Langen (stefanprodan)',
 'Stefan Prodan (jacogr)',
 'Jaco (fchollet)',
 'François Chollet (MichalLytek)',
 'Michał Lytek (lukastaegert)',
 'Lukas Taegert-Atkinson (benmccann)',
 'Ben McCann (acheong08)',
 'Antonio Cheong (MaartenGr)',
 'Maarten Grootendorst (ultrafunkamsterdam)',
 'Leon (syuilo)',
 'syuilo (abhinav)',
 'Abhinav Gupta (yairm210)']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [11]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [12]:
driver=webdriver.Chrome(PATH, options=opciones)  
driver.get('https://github.com/trending/python?since=daily')

In [13]:
repositorios = driver.find_elements(By.CLASS_NAME, 'h3.lh-condensed')

listarepositorios = [e.text for e in repositorios]

listarepositorios

['acheong08 / ChatGPT',
 'Zero6992 / chatGPT-discord-bot',
 'TheAlgorithms / Python',
 'LAION-AI / Open-Assistant',
 'ddPn08 / Lsmith',
 'zhayujie / chatgpt-on-wechat',
 'LeagueOfPoro / CapsuleFarmerEvolved',
 'microsoft / BioGPT',
 'BlinkDL / ChatRWKV',
 'AIGCT / EASYChatGPT',
 'mmz-001 / knowledge_gpt',
 'jxxghp / nas-tools',
 'tiangolo / fastapi',
 'TomSchimansky / CustomTkinter',
 'Rudrabha / Wav2Lip',
 'public-apis / public-apis',
 'biancangming / wtv',
 'chidiwilliams / buzz',
 'bellingcat / octosuite',
 'approximatelabs / sketch',
 'yerfor / GeneFace',
 'uptrain-ai / uptrain',
 'facebookresearch / metaseq',
 'lss233 / chatgpt-mirai-qq-bot',
 'ansible / ansible']

#### Display all the image links from Walt Disney wikipedia page

In [14]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [15]:
driver=webdriver.Chrome(PATH, options=opciones)  
driver.get('https://en.wikipedia.org/wiki/Walt_Disney')

In [16]:
fotos = driver.find_elements(By.CLASS_NAME, 'image')[3].get_attribute('href')

fotos

'https://en.wikipedia.org/wiki/File:Walt_Disney_envelope_ca._1921.jpg'

In [17]:
listafotos = [e.get_attribute('href') for e in driver.find_elements(By.CLASS_NAME, 'image')]

listafotos

['https://en.wikipedia.org/wiki/File:Walt_Disney_1946.JPG',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_1942_signature.svg',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_envelope_ca._1921.jpg',
 'https://en.wikipedia.org/wiki/File:Trolley_Troubles_poster.jpg',
 'https://en.wikipedia.org/wiki/File:Steamboat-willie.jpg',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_1935.jpg',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_Snow_white_1937_trailer_screenshot_(13).jpg',
 'https://en.wikipedia.org/wiki/File:Disney_drawing_goofy.jpg',
 'https://en.wikipedia.org/wiki/File:WaltDisneyplansDisneylandDec1954.jpg',
 'https://en.wikipedia.org/wiki/File:Walt_disney_portrait_right.jpg',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_Grave.JPG',
 'https://en.wikipedia.org/wiki/File:Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 'https://en.wikipedia.org/wiki/File:DisneySchiphol1951.jpg',
 'https://en.wikipedia.org/wiki/File:Disney1968.jpg',
 'https://en.wikipedia.org/wiki/File:Disney_Oscar_1953_(cropped).jpg',
 'https://en.wikipedia.org/wiki/File:Disneyland_Resort_logo.svg',
 'https://en.wikipedia.org/wiki/File:Animation_disc.svg',
 'https://en.wikipedia.org/wiki/File:Magic_Kingdom_castle.jpg',
 'https://en.wikipedia.org/wiki/File:Blank_television_set.svg']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [18]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [19]:
#your code
driver.get(url)

In [20]:
links = driver.find_elements(By.TAG_NAME, 'a')[3].get_attribute('href')

links

'https://en.wikipedia.org/w/index.php?title=Special:CreateAccount&returnto=Python'

In [21]:
listalinks = [e.get_attribute('href') for e in driver.find_elements(By.TAG_NAME, 'a')]

listalinks[10]

'https://en.wikipedia.org/wiki/Wikipedia:Contents'

#### Number of Titles that have changed in the United States Code since its last release point

In [22]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [23]:
driver.get(url)

In [24]:
cambios = driver.find_elements(By.CLASS_NAME, 'usctitlechanged')

listacambios = [e.text for e in cambios]

listacambios

['Title 2 - The Congress',
 'Title 6 - Domestic Security',
 'Title 15 - Commerce and Trade',
 'Title 16 - Conservation',
 'Title 18 - Crimes and Criminal Procedure ٭',
 'Title 22 - Foreign Relations and Intercourse',
 'Title 23 - Highways ٭',
 'Title 25 - Indians',
 'Title 29 - Labor',
 'Title 31 - Money and Finance ٭',
 'Title 34 - Crime Control and Law Enforcement',
 "Title 38 - Veterans' Benefits ٭",
 'Title 41 - Public Contracts ٭',
 'Title 42 - The Public Health and Welfare']

#### A Python list with the top ten FBI's Most Wanted names

In [25]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [26]:
driver.get(url)

In [27]:
buscados = driver.find_elements(By.CLASS_NAME, 'title')

listabuscados = [e.text for e in buscados]

listabuscados[1:]

['RUJA IGNATOVA',
 'ARNOLDO JIMENEZ',
 'OMAR ALEXANDER CARDENAS',
 'ALEXIS FLORES',
 'YULAN ADONAY ARCHAGA CARIAS',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'MICHAEL JAMES PRATT',
 'RAFAEL CARO-QUINTERO']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [28]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [29]:
driver.get(url)

In [30]:
cabeceras = driver.find_elements(By.CLASS_NAME, 'th2')

litacabeceras = [e.text.strip() for e in cabeceras]

litacabeceras

['Citizen\nResponse',
 'Date & Time\nUTC',
 'Latitude\ndegrees',
 'Longitude\ndegrees',
 'Depth\nkm',
 'Mag\n[+]',
 'Region name\n[+]',
 '']

In [31]:
date = driver.find_elements(By.CLASS_NAME, 'tabev6')

litsadate = [e.text.strip() for e in date]



litsadate

['2023-02-08   15:32:43.4\n22min ago',
 '2023-02-08   15:29:29.0\n25min ago',
 '2023-02-08   15:28:32.1\n26min ago',
 '2023-02-08   15:25:58.3\n28min ago',
 '2023-02-08   15:23:04.7\n31min ago',
 '2023-02-08   15:22:32.2\n32min ago',
 '2023-02-08   15:21:31.8\n33min ago',
 '2023-02-08   15:16:17.3\n38min ago',
 '2023-02-08   15:11:13.0\n43min ago',
 '2023-02-08   15:07:23.8\n47min ago',
 '2023-02-08   15:04:43.1\n50min ago',
 '2023-02-08   15:00:05.9\n54min ago',
 '2023-02-08   14:57:46.4\n56min ago',
 '2023-02-08   14:55:50.9\n58min ago',
 '2023-02-08   14:39:22.2\n1hr 15min ago',
 '2023-02-08   14:38:15.0\n1hr 16min ago',
 '2023-02-08   14:34:37.0\n1hr 20min ago',
 '2023-02-08   14:33:22.8\n1hr 21min ago',
 '2023-02-08   14:30:30.6\n1hr 24min ago',
 '2023-02-08   14:28:48.9\n1hr 25min ago',
 '2023-02-08   14:20:26.5\n1hr 34min ago',
 '2023-02-08   14:17:21.5\n1hr 37min ago',
 '2023-02-08   14:15:04.2\n1hr 39min ago',
 '2023-02-08   14:12:16.6\n1hr 42min ago',
 '2023-02-08   14:05:26.0\n1hr 49min ago',
 '2023-02-08   14:04:57.0\n1hr 49min ago',
 '2023-02-08   14:04:45.6\n1hr 50min ago',
 '2023-02-08   13:50:19.8\n2hr 04min ago',
 '2023-02-08   13:49:13.9\n2hr 05min ago',
 '2023-02-08   13:36:51.6\n2hr 17min ago',
 '2023-02-08   13:36:00.6\n2hr 18min ago',
 '2023-02-08   13:33:20.3\n2hr 21min ago',
 '2023-02-08   13:31:28.9\n2hr 23min ago',
 '2023-02-08   13:29:31.8\n2hr 25min ago',
 '2023-02-08   13:27:06.0\n2hr 27min ago',
 '2023-02-08   13:22:45.9\n2hr 32min ago',
 '2023-02-08   13:21:15.0\n2hr 33min ago',
 '2023-02-08   13:18:44.3\n2hr 36min ago',
 '2023-02-08   13:14:15.1\n2hr 40min ago',
 '2023-02-08   13:10:17.9\n2hr 44min ago',
 '2023-02-08   13:07:49.0\n2hr 46min ago',
 '2023-02-08   13:06:56.0\n2hr 47min ago',
 '2023-02-08   13:06:10.7\n2hr 48min ago',
 '2023-02-08   12:59:32.5\n2hr 55min ago',
 '2023-02-08   12:58:38.0\n2hr 56min ago',
 '2023-02-08   12:55:29.0\n2hr 59min ago',
 '2023-02-08   12:45:28.8\n3hr 09min ago',
 '2023-02-08   12:42:24.0\n3hr 12min ago',
 '2023-02-08   12:41:12.1\n3hr 13min ago',
 '2023-02-08   12:40:57.0\n3hr 13min ago']

In [32]:
latitude = driver.find_elements(By.CLASS_NAME, 'tabev1')

latlist= [e.text.strip() for e in latitude]

latlist = latlist[0::2]




latlist

['4.72',
 '42.05',
 '38.15',
 '39.02',
 '37.58',
 '19.17',
 '39.14',
 '16.75',
 '38.12',
 '38.54',
 '38.04',
 '38.12',
 '37.30',
 '38.11',
 '38.10',
 '34.53',
 '37.33',
 '38.11',
 '15.38',
 '37.25',
 '37.99',
 '38.10',
 '37.99',
 '38.13',
 '34.55',
 '38.03',
 '46.45',
 '19.26',
 '37.25',
 '37.80',
 '37.17',
 '38.11',
 '38.06',
 '36.32',
 '11.31',
 '37.99',
 '2.47',
 '38.10',
 '38.08',
 '37.59',
 '18.53',
 '2.83',
 '38.07',
 '44.80',
 '8.39',
 '12.24',
 '37.33',
 '2.51',
 '37.54',
 '2.46']

In [33]:
longitude = driver.find_elements(By.CLASS_NAME, 'tabev1')

lonlist= [e.text.strip() for e in longitude]

lonlist = lonlist[1::2]

lonlist

['39.21',
 '73.92',
 '38.34',
 '40.81',
 '38.06',
 '155.49',
 '40.15',
 '86.08',
 '38.26',
 '37.76',
 '37.04',
 '37.24',
 '37.05',
 '38.53',
 '36.67',
 '70.37',
 '37.06',
 '36.18',
 '94.48',
 '36.79',
 '37.38',
 '36.64',
 '36.60',
 '37.96',
 '179.79',
 '38.21',
 '7.47',
 '155.41',
 '36.96',
 '37.93',
 '36.69',
 '37.75',
 '36.66',
 '35.98',
 '124.55',
 '38.21',
 '140.69',
 '36.59',
 '36.59',
 '33.01',
 '69.77',
 '127.11',
 '36.65',
 '110.97',
 '120.52',
 '75.29',
 '37.08',
 '140.69',
 '37.31',
 '140.68']

In [34]:
region = driver.find_elements(By.CLASS_NAME, 'tb_region')

listaregion= [e.text.strip() for e in region]


listaregion

['KENYA',
 'ISLA CHILOE, LOS LAGOS, CHILE',
 'EASTERN TURKEY',
 'EASTERN TURKEY',
 'EASTERN TURKEY',
 'ISLAND OF HAWAII, HAWAII',
 'EASTERN TURKEY',
 'OFFSHORE HONDURAS',
 'EASTERN TURKEY',
 'CENTRAL TURKEY',
 'CENTRAL TURKEY',
 'CENTRAL TURKEY',
 'CENTRAL TURKEY',
 'EASTERN TURKEY',
 'CENTRAL TURKEY',
 "LIBERTADOR O'HIGGINS, CHILE",
 'CENTRAL TURKEY',
 'CENTRAL TURKEY',
 'OFFSHORE OAXACA, MEXICO',
 'CENTRAL TURKEY',
 'CENTRAL TURKEY',
 'CENTRAL TURKEY',
 'CENTRAL TURKEY',
 'CENTRAL TURKEY',
 'SOUTH OF KERMADEC ISLANDS',
 'EASTERN TURKEY',
 'SWITZERLAND',
 'ISLAND OF HAWAII, HAWAII',
 'CENTRAL TURKEY',
 'CENTRAL TURKEY',
 'CENTRAL TURKEY',
 'CENTRAL TURKEY',
 'CENTRAL TURKEY',
 'CENTRAL TURKEY',
 'LEYTE, PHILIPPINES',
 'EASTERN TURKEY',
 'NEAR N COAST OF PAPUA, INDONESIA',
 'CENTRAL TURKEY',
 'CENTRAL TURKEY',
 'CENTRAL TURKEY',
 'TARAPACA, CHILE',
 'MOLUCCA SEA',
 'CENTRAL TURKEY',
 'YELLOWSTONE NAT. PARK, WYOMING',
 'FLORES REGION, INDONESIA',
 'CENTRAL PERU',
 'CENTRAL TURKEY',
 'NEAR N COAST OF PAPUA, INDONESIA',
 'CENTRAL TURKEY',
 'NEAR N COAST OF PAPUA, INDONESIA']

In [35]:
import pandas as pd

df = pd.DataFrame(columns=litacabeceras)

df

Empty DataFrame
Columns: [Citizen
Response, Date & Time
UTC, Latitude
degrees, Longitude
degrees, Depth
km, Mag
[+], Region name
[+], ]
Index: []

In [36]:
df[litacabeceras[1]] = litsadate

df[litacabeceras[2]] = latlist

df[litacabeceras[3]] = lonlist 

df[litacabeceras[6]] = listaregion

df.head()

,Citizen\nResponse,Date & Time\nUTC,Latitude\ndegrees,Longitude\ndegrees,Depth\nkm,Mag\n[+],Region name\n[+],
0,NaN,2023-02-08 15:32:43.4\n22min ago,4.72,39.21,NaN,NaN,KENYA,NaN
1,NaN,2023-02-08 15:29:29.0\n25min ago,42.05,73.92,NaN,NaN,"ISLA CHILOE, LOS LAGOS, CHILE",NaN
2,NaN,2023-02-08 15:28:32.1\n26min ago,38.15,38.34,NaN,NaN,EASTERN TURKEY,NaN
3,NaN,2023-02-08 15:25:58.3\n28min ago,39.02,40.81,NaN,NaN,EASTERN TURKEY,NaN
4,NaN,2023-02-08 15:23:04.7\n31min ago,37.58,38.06,NaN,NaN,EASTERN TURKEY,NaN

In [37]:
df = df.drop(columns=['Citizen\nResponse', 'Depth\nkm', 'Mag\n[+]'], axis=1)

df.head(20)

,Date & Time\nUTC,Latitude\ndegrees,Longitude\ndegrees,Region name\n[+],
0,2023-02-08 15:32:43.4\n22min ago,4.72,39.21,KENYA,NaN
1,2023-02-08 15:29:29.0\n25min ago,42.05,73.92,"ISLA CHILOE, LOS LAGOS, CHILE",NaN
2,2023-02-08 15:28:32.1\n26min ago,38.15,38.34,EASTERN TURKEY,NaN
3,2023-02-08 15:25:58.3\n28min ago,39.02,40.81,EASTERN TURKEY,NaN
4,2023-02-08 15:23:04.7\n31min ago,37.58,38.06,EASTERN TURKEY,NaN
5,2023-02-08 15:22:32.2\n32min ago,19.17,155.49,"ISLAND OF HAWAII, HAWAII",NaN
6,2023-02-08 15:21:31.8\n33min ago,39.14,40.15,EASTERN TURKEY,NaN
7,2023-02-08 15:16:17.3\n38min ago,16.75,86.08,OFFSHORE HONDURAS,NaN
8,2023-02-08 15:11:13.0\n43min ago,38.12,38.26,EASTERN TURKEY,NaN
9,2023-02-08 15:07:23.8\n47min ago,38.54,37.76,CENTRAL TURKEY,NaN
10,2023-02-08 15:04:43.1\n50min ago,38.04,37.04,CENTRAL TURKEY,NaN
11,2023-02-08 15:00:05.9\n54min ago,38.12,37.24,CENTRAL TURKEY,NaN
12,2023-02-08 14:57:46.4\n56min ago,37.30,37.05,CENTRAL TURKEY,NaN
13,2023-02-08 14:55:50.9\n58min ago,38.11,38.53,EASTERN TURKEY,NaN
14,2023-02-08 14:39:22.2\n1hr 15min ago,38.10,36.67,CENTRAL TURKEY,NaN
15,2023-02-08 14:38:15.0\n1hr 16min ago,34.53,70.37,"LIBERTADOR O'HIGGINS, CHILE",NaN
16,2023-02-08 14:34:37.0\n1hr 20min ago,37.33,37.06,CENTRAL TURKEY,NaN
17,2023-02-08 14:33:22.8\n1hr 21min ago,38.11,36.18,CENTRAL TURKEY,NaN
18,2023-02-08 14:30:30.6\n1hr 24min ago,15.38,94.48,"OFFSHORE OAXACA, MEXICO",NaN
19,2023-02-08 14:28:48.9\n1hr 25min ago,37.25,36.79,CENTRAL TURKEY,NaN

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [38]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [39]:
#no se hace

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [40]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [41]:
#no se hace

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [ ]:
driver.get(url)

#### A list with the different kind of datasets available in data.gov.uk

In [44]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [45]:
#your code

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [46]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [47]:
#your code

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [48]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [49]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [50]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [51]:
# your code

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [52]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [53]:
#your code

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [54]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

KeyboardInterrupt: Interrupted by user

In [ ]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
#your code